<section class="middle">
  <div class="humidity-wind">
    <div class="humidity">
      <img src="assets/icons/dashboard/drops.svg" alt="Drop" />
      <p class="medium-text-semibold">{{ current?.humidity }} %</p>
    </div>
    <div class="wind">
      <img src="assets/icons/dashboard/wind.svg" alt="Wind" />
      <p class="medium-text-semibold">
        {{ current?.wind_speed }} {{ unitSymbol }}
      </p>
    </div>
  </div>

  <div class="uv-pollution">
    <div class="uv">
      <div class="chip" [appUvindex]="current?.uvi">
        {{ current?.uvi | uvindex }}
      </div>
      <p class="medium-text-semibold">UV</p>
    </div>
    <div class="pollution">
      <div class="chip" [appAirPollution]="airPollutionIndex">
        {{ airPollutionIndex | airPollution }}
      </div>
      <p class="medium-text-semibold">Pollution</p>
    </div>
  </div>
</section>
