<section class="middle">
  <div class="humidity-wind">
    <div class="humidity">
      <img src="assets/images/icons/drops.svg" alt="Drop" />
      <p class="medium-text-semibold">16%</p>
    </div>
    <div class="wind">
      <img src="assets/images/icons/wind.svg" alt="Wind" />
      <p class="medium-text-semibold">24km/h</p>
    </div>
  </div>

  <div class="uv-pollution-pollen">
    <div class="uv">
      <div class="chip">High</div>
      <p class="normal-text-bold">UV</p>
    </div>
    <div class="pollution">
      <div class="chip">Low</div>
      <p class="normal-text-bold">Pollution</p>
    </div>
    <div class="pollen">
      <div class="chip">Moderate</div>
      <p class="normal-text-bold">Pollen</p>
    </div>
  </div>
</section>
