<section>
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input
      #autocomplete
      type="text"
      placeholder="Search"
      matInput
      [formControl]="searchControl"
      [matAutocomplete]="auto"
    />
    <button mat-icon-button matSuffix aria-label="GPS icon button">
      <mat-icon color="primary">{{
        isLocationEnable ? "gps_fixed" : "gps_not_fixed"
      }}</mat-icon>
    </button>
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayFn"
      (optionSelected)="onSelectedOption($event)"
    >
      <mat-option *ngIf="isLoading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option [value]="gpsPrediction"
          ><mat-icon color="primary">gps_fixed</mat-icon>
          Your location</mat-option
        >
        <mat-divider></mat-divider>
        <mat-option
          *ngFor="let prediction of searchPredictions"
          [value]="prediction"
        >
          <mat-icon [ngStyle]="{ color: 'var(--dashboard-dark)' }">{{
            prediction.place_id ? "location_on" : "not_listed_location"
          }}</mat-icon>
          {{ prediction.description }}
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</section>
