:host {
  display: grid;
  grid-area: toolbar;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1em;

  padding: 1rem;

  .left {
    .input-field {
      max-width: 380px;
      width: 100%;
      height: 3em;
      background-color: inherit;
      margin: 10px 0;
      border-radius: 55px;
      display: grid;
      grid-template-columns: 15% 85%;
      padding: 0 0.4rem;
      border: var(--dark-border);
    }

    .input-field .search-icon {
      place-self: center;
    }
    .input-field input {
      background: none;
      outline: none;
      border: none;
      font-weight: 500;
    }
    .input-field input::placeholder {
      color: var(--gray);
      font-weight: 500;
    }
  }
  .right {
    place-self: center end;

    img {
      width: 3em;
      height: 3em;
    }
  }

  /* large screens */
  @media only screen and (min-width: 600px) {
    margin-left: 5rem;
  }
}
