<section class="left">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input
      #autocomplete
      type="text"
      placeholder="Search"
      matInput
      [formControl]="searchControl"
      [matAutocomplete]="auto"
    />
    <mat-icon matSuffix>location_searching</mat-icon>
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayFn"
      (optionSelected)="onSelectedOption($event)"
    >
      <mat-option *ngIf="isLoading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option
          *ngFor="let prediction of searchPredictions"
          [value]="prediction"
        >
          {{ prediction.description }}
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</section>

<section class="right">
  <img src="assets/images/profile-picture.png" alt="Profile picture" />
</section>
