:host {
  display: grid;
  grid-area: main;
}
:host ::ng-deep .empty-state {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    max-width: 16em;
    height: auto;
  }

  p {
    max-width: 22em;
    margin-bottom: 1em;
  }

  button {
    text-transform: uppercase;
  }
}
