<section class="top">
  <div class="city">
    <p class="large-text-semibold">Katy, Texas</p>
    <p class="normal-text-semibold">Mon, 19 Aug</p>
  </div>
  <div class="temp-control">
    <p class="c-temp">°C</p>
    <p class="f-temp">°F</p>
  </div>
  <div class="weather-illustration">
    <img src="assets/images/blue-and-white-cloud.svg" alt="Blue and white Cloud" />
    <div class="temp-info">
      <p class="heading-2">19°C</p>
      <p class="medium-text">Sunny</p>
    </div>
  </div>
</section>
