<h2 mat-dialog-title class="heading-2">Location</h2>
<mat-dialog-content>
  <p>
    Location access allows us to serve you with more accurate local forecasts.
  </p>
  <br />
  <p>
    Regardless of whether or not you allow location access, you can always
    receive accurate local forecasts by manually entering a location.
  </p>
  <img
    src="assets/icons/global/location-illustration.svg"
    alt="Location illustration agreement"
    width="320"
    height="180"
  />
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button [mat-dialog-close]="false" color="warn">
    NOT NOW
  </button>
  <button
    mat-stroked-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    color="accent"
  >
    ACCEPT
  </button>
</mat-dialog-actions>
