<section>
  <mat-tab-group>
    <mat-tab label="Today">
      <div class="today-forecast">
        <div class="widget">
          <p class="medium-text">Now</p>
          <img src="assets/images/base-sun.svg" alt="Weather Illustration" />
          <p class="medium-text">22°</p>
        </div>
        <div class="widget">
          <p class="medium-text">7 pm</p>
          <img src="assets/images/sunny-sun.svg" alt="Weather Illustration" />
          <p class="medium-text">21°</p>
        </div>
        <div class="widget">
          <p class="medium-text">8pm</p>
          <img
            src="assets/images/blue-and-white-cloud.svg"
            alt="Weather Illustration"
          />
          <p class="medium-text">20°</p>
        </div>
        <div class="widget">
          <p class="medium-text">Now</p>
          <img src="assets/images/base-sun.svg" alt="Weather Illustration" />
          <p class="medium-text">22°</p>
        </div>
        <div class="widget">
          <p class="medium-text">7 pm</p>
          <img src="assets/images/sunny-sun.svg" alt="Weather Illustration" />
          <p class="medium-text">21°</p>
        </div>
        <div class="widget">
          <p class="medium-text">8pm</p>
          <img
            src="assets/images/blue-and-white-cloud.svg"
            alt="Weather Illustration"
          />
          <p class="medium-text">20°</p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Week">
      <div class="week-forecast">
        <div class="widget">
          <img src="assets/images/base-sun.svg" alt="Weather Illustration" />
          <p class="large-text">29°</p>
          <p class="small-text-medium">Today</p>
        </div>
        <div class="widget">
          <img src="assets/images/sunny-sun.svg" alt="Weather Illustration" />
          <p class="large-text">27°</p>
          <p class="small-text-medium">Monday</p>
        </div>
        <div class="widget">
          <img
            src="assets/images/blue-and-white-cloud.svg"
            alt="Weather Illustration"
          />
          <p class="large-text">22°</p>
          <p class="small-text-medium">Tuesday</p>
        </div>
        <div class="widget">
          <img src="assets/images/base-sun.svg" alt="Weather Illustration" />
          <p class="large-text">29°</p>
          <p class="small-text-medium">Today</p>
        </div>
        <div class="widget">
          <img src="assets/images/sunny-sun.svg" alt="Weather Illustration" />
          <p class="large-text">27°</p>
          <p class="small-text-medium">Monday</p>
        </div>
        <div class="widget">
          <img
            src="assets/images/blue-and-white-cloud.svg"
            alt="Weather Illustration"
          />
          <p class="large-text">22°</p>
          <p class="small-text-medium">Tuesday</p>
        </div>
        <div class="widget">
          <img
            src="assets/images/gray-and-white-cloud.svg"
            alt="Weather Illustration"
          />
          <p class="large-text">22°</p>
          <p class="small-text-medium">Tuesday</p>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
