.today-forecast {
  display: grid;
  gap: .5em;
  grid-template-columns: repeat(auto-fit, minmax(90px, 100px));

  padding: 1em 0;

  .widget {
    width: 100px;
    height: 150px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.week-forecast {
  display: grid;
  gap: .5em;
  row-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(146px, 156px));

  padding: 1.5em 0;

  .widget {
    display: grid;
    gap: 1em;
    grid-template-rows: 2fr 1fr;

    position: relative;
    width: 146px;
    height: auto;
    padding: 1em;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    .main{
        display: flex;
        justify-content: space-between;

        img {
            position: absolute;
            top: -1em;
            right: -1em;
        }
    }
    .temp{
        display: flex;
        justify-content: space-evenly;

        .min, span{
            color: var(--dark-gray);
        }
    }
}
}
