.today-forecast {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(100px, 110px));

  padding: 1em 0;

  .widget {
    width: 100px;
    height: 150px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 6em;
      height: 6em;
    }
  }
}

.week-forecast {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(auto-fit, minmax(100px, 110px));

  padding: 3em 0;

  .widget {
    position: relative;
    width: 100px;
    height: 96px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    img {
      position: absolute;
      top: -2em;
      width: 6em;
      height: 6em;
    }
  }
}
