:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--dashboard-dark) !important;

  .mat-dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 80%;
      height: auto;
      margin: 1em 0;
    }

    .error-message {
      background: var(--light-yellow);
      margin-top: 1em;
      padding: 1rem;
      font-family: monospace;
      word-break: break-all;
    }
  }
}
