<main id="main-content">
  <dashboard-top-section
    [current]="currentWeather"
    [tempSymbol]="temperatureSymbol"
    [unit]="unitMeasurement"
    (temperatureChanged)="onTempChanged($event)"
  ></dashboard-top-section>
  <dashboard-middle-section
    [current]="currentWeather"
    [airPollutionIndex]="airPollutionIndex"
    [unitSymbol]="unitSymbol"
  ></dashboard-middle-section>
  <dashboard-bottom-section
    [hourlyWeather]="hourlyWeather"
    [dailyWeather]="dailyWeather"
    [tempSymbol]="temperatureSymbol"
  ></dashboard-bottom-section>
</main>
<dashboard-aside-section
  [current]="currentWeather"
  [airPollutionIndex]="airPollutionIndex"
  [unitSymbol]="unitSymbol"
></dashboard-aside-section>
